@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ezra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://www.masa.finance/_next/static/media/Ezra-Medium.c38fb492.otf) format('ttf');
}

/* hide number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background-color: rgb(255 251 235);
}